@font-face {
  font-family: 'Arcane Nine'; /* Name your font */
  src: url('./Arcane-Nine.otf') format('opentype'); /* Path to the font file */
}

body {
  margin: 0;
  margin-left:10px;
  padding: 0;
  overflow-x: hidden;
  width:100vw;
  height:100vh;
}

.home-background {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: url("./home-bg.webp");
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  z-index:-1;
}

.home-box {
  margin-top:50%;
  color:white;
  background-color:black;
  opacity:0.8;
  margin-left:20px;
  margin-right:20px;
  border-radius:20px;
  padding: 20px 0px;
}

.home-title {
  font-family: Arcane Nine;
  font-size:30px;
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  -webkit-margin-before: 0.3em; 
  -webkit-margin-after: 0.2em;
  background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.60);
}

.home-box p {
  opacity:1;
}

.play-button {
  background-color:#1b3d50;
  color:#ff00a9;
  border:none;
  border-radius:14px;
  width:100px;
  font-weight:bold;
  font-size:25px;

  padding:8px 0px;
  opacity:1.0;
}

.play-button:active {
  background-color:#ff00a9;
  color:#1b3d50;
}

.select-background {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: url("./select-bg.jpg");
  background-size: cover; /* Adjust the size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  z-index:-2;
}

.select-background-2 {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.8);
  z-index:-1;
}

.select-title {
  font-family: Arcane Nine;
  font-size:40px;

  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  -webkit-margin-before: 0.3em; 
  -webkit-margin-after: 0.2em;
  background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
  text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.60);
}

.select-card {
  font-family: Arcane Nine;
  color:white;
  font-size: 30px;
  width:300px;
  height:fit-content;
  padding:0px;
  display:flex;
  flex-direction:row;

  border-width:5px;
  border:solid;
  border-image: linear-gradient(to right, #FFF65C 0%, #3A2C00 100%) 1;
}

.select-pfp {
  height:80px;
  width:80px;
  object-fit:cover;
  overflow:hidden;
  margin:0px;
  border-right:solid;
  border-width:2px;
  border-image:linear-gradient(to bottom, #FFF65C 0%, #3A2C00 100%) 1;
}

.select-name {
  width:220px;
  height:80px;
  text-align:center;
  line-height:80px;
  margin:0px;
}

