@font-face {
  font-family: 'Arcane Nine'; /* Name your font */
  src: url('../static/Arcane-Nine.otf') format('opentype'); /* Path to the font file */
}

body {
  margin:0;
  padding:0;
  overflow:hidden;
  width:100vw;
  height:100vh;
}

@media (min-height:751px) {
  .results-box {
    margin-top:5vh;
  }

  .results-row {
    height:9vh;
  }

  .results-row-text {
    font-size:25px;
    line-height:9vh;
  }
}

@media (max-height:700px) {
  .results-box {
    margin-top:20px;
  }

  .results-row {
    height:60px;
  }

  .results-row-text {
    font-size:20px;
    line-height:60px;
  }
}

.results-bg {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image:url("../static/imgs/results-bg.webp");
  background-size:cover; /* Adjust the size */
  background-position:center; 
  background-repeat:no-repeat; 
  z-index:-1;
}

.results-box {
  width:90vw;
  margin-left:5vw;
  height:85vh;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.results-row {
  background-color:rgba(255,255,255,0.6);
  border-radius:20px;
  border-bottom:solid;
  border-color:black;
  border-width:2px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.next-button {
  position:fixed;
  bottom:2vh;
  right:2vh;
  background-color:#1b3d50;
  color:#ff00a9;
  border:none;
  border-radius:25px;
  font-weight:bold;
  font-size:25px;

  padding:10px 30px;
  cursor:pointer;
}

.next-button:hover {
  color:#1b3d50;
  background-color:#ff00a9;
}

.results-row-text {
  margin:0px;
  width:100px;
  text-align:center;
  font-family:Arcane Nine;
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight:bold;
  -webkit-margin-before:0.3em; 
  -webkit-margin-after:0.2em;
  background-image:-webkit-linear-gradient(#ff5c5c, #3a0000);
  text-shadow:-0.02em -0.03em 0.005em rgba(255, 223, 0, 0.60);
}


