<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superlatives Game Host!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/host.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  </head>
  <body>
    <div class="home-background"></div>
    <div class="fluid-container home-box">
      <div class="row justify-content-center text-center">
        <p class="col-10 home-title">The Superlatives Game</p>
      </div>
      <div class="row justify-content-center text-center">
        <button class="play-button col-6">Play</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/host.js') }}"></script>
  </body>
</html>